{% macro Msg() %}
  <form id="msg-form" class="">
    <input id="msg-input" type="text" placeholder="votre message..." />
    <input id="msg-submit" type="submit" value="Ok" />
  </form>
{% endmacro %}