{% macro Connection() %}
  <form id="login-form" class="login-form">
    <input id="login-input" type="text" placeholder="votre pseudo..." />
    <input id="login-submit" type="submit" value="Valider" />
  </form>
{% endmacro %}